<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% if title %}
    <title>Daily Bread | {{title}}</title>
    {% else %}
    <title>Daily Bread</title>
    {% endif %}
        
    <link rel="stylesheet" href="{{url_for('app.static',filename='css/main.css')}}">
</head>
<body>
    <section class="nav-area">
        <nav>
            <a href="{{ url_for('app.index') }}" class="logo">
                <h2 class="">Daily Bread</h2>
            </a>
            <div class="nav-items">
                <a href="#add" class="nav-link" id="add-btn">Add A Record &plus;</a>
                <a href="#view" class="nav-link" id="view-btn">View Records</a>
            </div>
        </nav>
    </section>
    <section class="main">
        <main>
            
            {% block content %}
                
            {% endblock content %}
                
        </main>
    </section>
    <section class="footer">
        <footer>
            
        </footer>
    </section>
    <script src="{{url_for('app.static',filename='js/index.js')}}"></script>
</body>
</html>