<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('app.static',filename='css/main.css')}}">
    <title>Document</title>
</head>
<body>
    <section class="nav-area">
        <nav>
                <a href="{{ url_for('app.index') }}" class="logo">
                    <h2 class="">Daily Bread</h2>
                </a>
        </nav>
    </section>
    <div class="main">
        <div class="add-section">      
            <div class="form">
                {% with messages = get_flashed_messages()  %}
                    {% if messages %}
                            {% for message in messages %}
                                <div class="message">
                                    <center>
                                        {{message}}
                                    </center>
                                </div>
                                <br>
                            {% endfor %}
                    {% endif %}
                {% endwith %}
                <h1>Edit Verse</h1>
                <form action="{{ url_for('app.edit_verse',id=verse_to_edit.id) }}" method="post">
                    <div class="form-group">
                        <label for="bible_verse">Verse</label>
                       
                        <input type="text" name="bible_verse" id="bible_verse" required value="{{verse_to_edit.bible_verse}}">
                        <br>
                        <p>Update this verse here</p>
                    </div>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <textarea name="notes" id="notes" cols="30" rows="10">
                            {{verse_to_edit.notes}}
                        </textarea>
                        <br>
                        <p>Update this verse here</p>
                    </div>
                  
                    <div class="form-group">
                        <input type="submit" value="Save" class="mybtn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

    