<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('app.static',filename='css/main.css')}}">
    <title>Document</title>
</head>
<body>
    <section class="nav-area">
        <nav>
                <a href="{{ url_for('app.index') }}" class="logo">
                    <h2 class="">Daily Bread</h2>
                </a>
        </nav>
    </section>
    <div class="main">
        <div class="add-section">      
            <div class="record" >
                <h3>&#9876; {{verse.bible_verse}}</h3>
                <p>{{verse.notes}}</p>
                <br>
                <a href="{{ url_for('app.edit_verse',id=verse.id) }}" class="record-link edit">Edit Verse</a>
                <a href="{{url_for('app.delete_verse',id=verse.id)}}" class="record-link delete">Delete Verse</a>
                
            </div>
        </div>
    </div>
</body>
</html>

    