*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial,Helvetica,san-serif;

}

header{
	padding: 18px;
	width: 100%;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	color: #fff;
	background-color: dodgerblue;
	z-index: 1;
}
.nav-bar{
	display: none;
}
.nav-bar a{
	color: white;
	font-size: 2em;
	text-decoration: none;
}
.nav-bar-close{
	display: none;
}
.main{
	position: relative;
	top: 70px;
	display: flex;
}

.left{
	width: 30%;
	background-color: rgb(8, 13, 17);
	min-height: 100vh;
}
.form{
	position: fixed;
	margin-top: 20px;
	color: white;
	background: rgb(8,13,17);
}
.form label{
	padding-bottom: 10px;
}
fieldset{
	border: none;
	padding: 15px;
}
fieldset textarea, input{
	width: 90%;
	padding: 10px;
	border-radius: 7px;
	border: none;
}

.btn{
	padding: 20px;
	border: none;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: dodgerblue;
	color: white;
	cursor: pointer;
	transition: all 1.2s;
}

.clear{
	padding: 10px;
	border: none;
	text-transform: uppercase;
	border-radius: 10px;
	background-color:;
	color: blue;
	font-weight: bold;
	transition: all 1.2s;
	cursor: pointer;
	display: none;
}
.clear:hover,.btn:hover{
	color: white;
	background: blue;
}
.count-cont{
	padding-top: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.right{
	background-color: rgb(8, 13, 17);
	width: 70%;
	
}
.verses{
	padding: 5% 0,0,0;
	margin-top: 5%;
}
.verses > .verse + .verse{
	margin-top: 20px;
}
.verse{
	width: 80%;
	background-color: white;
	padding: 20px;
	margin: auto;
	transition: all 1.2s;
}
.verse:hover{
	background-color: rgb(240, 232, 232) ;
}
.options{
	padding: 10px;
}
.options a{
	font-size: 25px;
}
.options > a + a{
	margin: 20px;
}
.del-btn{
	color: red;
}
.update-btn{
	color: rgb(39, 161, 39);
}
.paint-btn{
	color: coral;
}
#verse-color{
	padding: 20px;
	border: 1px solid black;
}
.color-modal{
	background-color: rgba(0, 0, 0, 0.541);
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 200;
	display: none;
}
.color-form{
	width: 45%;
	margin: 100px auto;
	padding: 20px;
	color: black;
	background-color: white;
}
.update-modal{
	background-color: rgba(0, 0, 0, 0.541);
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 200;
	display: none;
}
.update-form{
	width: 85%;
	margin: 100px auto;
	padding: 20px;
	color: black;
	background-color: white;
}
.update-form input {
	border: 1px solid black;
	width: 100%;
}

.update-form textarea{
	border: 1px solid black;
	width: 100%;
}
.cancel{
	padding: 20px;
	border: none;
	text-transform: uppercase;
	border-radius: 10px;
	background-color: red;
	color: white;
	cursor: pointer;
	transition: all 1.2s;
}


@media screen and (max-width:600px){
	.nav-bar{
		display: block;
	}
	.main {
	    position: relative;
	    top: 40px;
	    display: block;
	}
	.left {
	    width: 100%;
	    background-color: rgb(8, 13, 17);
	    min-height: 80vh;
		display: none;
		margin-top: 30px;
	}
	.right {
		background-color: rgb(8, 13, 17);
		width: 100%;
	}
	.update-form {
    	width: 100%;
    	height:60vh;
    	margin: 0px auto;
    	padding: 20px;
    	color: black;
    	background-color: white;
	}
	.form {
		position: fixed;
		margin-top: 20px;
		color: white;
	}
	fieldset textarea, input{
		width: 100%;
	}
}